<!DOCTYPE html>
{% extends "Homepage/Header_Footer.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div style = "margin-top: 5%;margin-left:15%;width:70%;margin-bottom:5%;color:black;font-size: larger;background-color: rgba(71,71,71,0.8)">
    {%  if registered  %}
        <h1> Registration not allowed.Admin already present </h1>
    {% else %}
        <form method="post" enctype="multipart/form-data" style="margin-left: 19%;margin-bottom:5%" action="{% url 'Registration:admin_reg' %}" >

            <h1>Register Here!</h1>
            <h3>Fill out the form:</h3>
            {% csrf_token %}
            <div class="form-row">
                    {{ admin_reg_form.Name|as_crispy_field }}
                <div class="form-group col-md-6 mb-0">
                    {{ admin_reg_form.username|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ admin_reg_form.email|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ admin_reg_form.password1|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ admin_reg_form.password2|as_crispy_field }}
                </div>
            </div>
            {{ admin_reg_form.canteen_name|as_crispy_field }}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ admin_reg_form.canteen_street|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ admin_reg_form.canteen_city|as_crispy_field }}
                </div>

            </div>
            <div class=""form-row">
                <div class="form-group col-md-4 mb-0">
                    {{ admin_reg_form.canteen_pincode|as_crispy_field }}
                </div>
            </div>
            <input type="submit" name="" value="Register" class="btn btn-primary">
        </form>
    {% endif %}
</div>
{% endblock %}
