<!Doctype html>
{% extends 'Homepage/Header_Footer.html' %}
{%  load staticfiles %}
{% block content %}
<div class="adjust">
<div class="box">
<h1> Please Login </h1>

        <form action="{% url 'Registration:admin_login' %}"  method="post" autocomplete="off">
        {% csrf_token %}
        <div class="inputbox">
                <input type="text" name = "username" required="" autocomplete="false">
            <label>username</label>
        </div>
        <div class="inputbox">
                <input type="password" name="password" required="" autocomplete="false">
            <label>Password</label>
        </div>
        <input type="submit" name="" value="Login"><br>
        {% comment %}<a href = "{% url 'Registration:fp' %}">Forgot password?</a><br>{% endcomment %}
        <label>
            <input type="radio" onclick="location.href='{% url 'Registration:user_login' %}'">
        </label>Customer
        <label>
            <input type="radio" onclick="location.href='{% url 'Registration:staff_login' %}'">
        </label> Staff
        </form>
</div>
</div>
    {% endblock %}