<!DOCTYPE html>
{% extends "Registration/base.html" %}
<head>
  <title>Edit Profile Page</title>
</head>
    {% block body_block %}
<div class="jumbotron">
    <h1>Update Here!</h1>
    <h3>Fill out the form:</h3>
    {% if match_failed %}
        <h1>{{message}}</h1>
    {% endif %}
    <form enctype="multipart/form-data" action="{% url 'Registration:updateprofile'%}" method="post">
        {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6" >
              <label for="profile_pic">Profile Pic</label>
              <input name="profile_pic" type="file" class="form-control" id="profile_pic" value="{{user.profile_pic}}"placeholder="profile_pic" accept="image/png, image/jpeg">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="username">Username</label>
              <input name="username" type="username" class="form-control" id="username" value="{{user.username}}"placeholder="username" readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="old_password">Old Password</label>
              <input name="old_password" type="password" class="form-control" id="old_password" placeholder="Old Password" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="new_password">New Password</label>
              <input name="new_password" type="new_password" class="form-control" id="new_password" placeholder="New Password" required>
            </div>
            <div class="form-group col-md-6">
              <label for="new_password_conf">Confirm New Password</label>
              <input name="new_password_conf" type="password" class="form-control" id="new_password_conf" placeholder="Password" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="first_name">First Name</label>
              <input name="first_name" type="first_name" class="form-control" id="first_name" value="{{user.first_name}}"placeholder="first_name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="last_name">Last Name</label>
              <input name="last_name" type="last_name" class="form-control"       id="last_name" value="{{user.last_name}}"placeholder="last_name" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6"
              <label for="email">Email</label>
              <input name="email" type="email" class="form-control" id="email" value="{{user.email}}"placeholder="Email" required>
            </div>
            <div class="form-group col-md-6">
              <label for="address">Address</label>
              <input name="address" type="text" class="form-control" id="address" value="{{userprofileinfo.address}}"   placeholder="1234 Main St" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="city">City</label>
              <input name="city" type="text" class="form-control" id="city" required>
            </div>
            <div class="form-group col-md-6">
              <label for="pincode">Pincode</label>
              <input name="pincode" type="text" class="form-control" id="pincode" required>
            </div>
          </div>
          <div class="form-row col">
            <button type="submit" class="btn btn-primary">Update Profile</button>
            </div>
          </div>
        </form>
    {% endblock %}
</div>