<!Doctype html>
{% extends 'Homepage/Header_Footer.html' %}
{%  load staticfiles %}
{% block content %}
<div class="adjust">
<div class="box">
{% if user_logged_in and registered %}
<h1> Please Login </h1>

    <form action="{% url 'Registration:user_login' %}"  method="post" autocomplete="off">
        {% csrf_token %}
        <div class="inputbox">
            <input type="text" name = "username" required="" >
            <label>UserName</label>
        </div>
        <div class="inputbox">
            <input type="password" name="password" required="" >
            <label>password</label>
        </div>
        <input type="submit" name="" value="Login"><br>
        <a href = "{% url 'Registration:fp' %}">Forgot password?</a><br>
        <label>
            <input type="radio" onclick="location.href='{% url 'Registration:staff_login' %}'">
        </label>Staff
        <label>
            <input type="radio" onclick="location.href='{% url 'Registration:admin_login' %}'">
        </label> Admin
    </form>
{% elif not registered %}
    <h4>Invalid login details or you may not have verified your email id.</h4><br>
    <p>Enter details again or Verify your email id and then log in again</p>
    <a href="{% url 'Registration:user_login' %}">click here</a>
{% elif not registered and not user_logged_in %}
    <h4>Your email is not verified</h4><br>
{% else %}
    <h4>This username is not registered.</h4><br>
    <a href="{% url 'Registration:register' %}">click here</a>
{% endif %}
</div>
</div>
 {% endblock %}
