<!DOCTYPE html>
    {%  extends "Homepage/Header_Footer.html" %}

    {% block content %}
    <div style="margin-top: 8%;margin-bottom:20%;font-weight: bold;font-size: larger">
    {% if user == "1" %}
        <form action="{% url 'Registration:change_user_password'  %}"  method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="" value="Submit"><br>
        </form>
    {% elif user == "2" %}
        <form action="{% url 'Registration:change_staff_password'  %}"  method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="" value="Submit"><br>
    {% else %}
        <h> sorry</h>
    {% endif %}
    </div>

    {%  endblock %}
