<!DOCTYPE html>
{% extends "Homepage/Header_Footer.html" %}
{% load bootstrap %}
{% load staticfiles %}
    {% block content %}
<div class="jumbotron" style="width:60%;height:840px;margin-left: 20%;margin-top: 10%;margin-bottom: 5%;border:brown">
<h1>WELCOME TO Canteen automation system!  </h1>
    {% if registered %}
    <h1>Thank you for registering</h1>
    {% else %}
    <h1>Register Here!</h1>
    <h3>Fill out the form:</h3>
    <form enctype="multipart/form-data" method="post" style="width:60%;margin-left:20%">
        {% csrf_token %}

            {% for field in user_form %}
                {{ field.label }}
                {{field}}
            {% endfor %}
            {% for field in profile_form %}
                {{ field.label }}
                {{field}}
            {% endfor %}
            {% for radio in user_form %}
                <div class="myradio">
                    {{ radio.input }}
                </div>
            {% endfor %}

        <input type="submit" name="" value="Register" class="myButton">
    </form>
    {% endif %}
</div>
    {% endblock %}
