{% extends "Homepage/Header_Footer.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style = "margin-top: 5%;margin-left:15%;width:70%;margin-bottom:5%;color:black;font-size: larger;background-color: rgba(71,71,71,0.8)">
    {% if registered %}
    <h1>Thank you for registering</h1>
    {% else %}
    <form method="post" enctype="multipart/form-data" style="margin-left: 19%;margin-bottom:5%" >

    <h1>Register Here!</h1>
    <h3>Fill out the form:</h3>
        {% csrf_token %}
        <div class="form-row">
            {{ user_form.username|as_crispy_field }}
            <div class="form-group col-md-6 mb-0">
                {{ user_form.first_name|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ user_form.last_name|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ user_form.email|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ user_form.password|as_crispy_field }}
            </div>
        </div>
        {{ profile_form.address|as_crispy_field }}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ profile_form.city|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ profile_form.pincode|as_crispy_field }}
            </div>
            {{ profile_form.profile_pic|as_crispy_field }}
        </div>
    <input type="submit" name="" value="Register" class="btn btn-primary">
  </form>
    {% endif %}
</div>
{% endblock %}
