<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {% block title_block %}

      {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
  <body>
    <nav class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
          <li><a href="{% url 'index' %}" id="Home">Home</a></li>
          <li><a href="{% url 'food_home' %}" id="Food">Update Food</a></li>
          <li><a href="{% url 'tables_home' %}" id="Table">Update Tables</a></li>
          <li><a href="{% url 'town_home' %}" id="Town">Update Towns</a></li>
        </ul>
    </nav>

    <div class="container">
      {% block body_block %}

      {% endblock %}
    </div>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
