{% extends "Manager/base.html" %}
{% block body_block %}
    <div class="container">
<br>
<a href="{% url 'add_food' %}"><input type="button" class="btn btn-primary" id="Add" value="Add Food" ></a>
<a href="{% url 'remove_food' %}"><input type="button" class="btn btn-primary" id="remove" value="Remove Food" ></a>
<a href="{% url 'update_food' %}"><input type="button" class="btn btn-primary" id="update" value="Update Food" ></a><br><br><br>
        <p class="">Food Items:</p>
        {% if item %}
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Categories</th>
        </tr>
        {% for items in item %}
        <tr>
            <td>{{ items.Food_id }}</td>
            <td>{{ items.Food_Name }}</td>
            <td>{{ items.Food_Price }}</td>
            <td>{{ items.quantity }}</td>
            <td>{{ items.Category }}</td>
        </tr>
        {% endfor %}
        </table>
{% endif %}
    </div>
{% endblock %}