{% extends "Manager/base.html" %}
{% block body_block %}
    {% load static %}
    <div class="container">
<br>
    {% if error %}
    <p class="errormsg">{{ error }}</p>
    {% endif %}
<a href="{% url 'Manager:add_food' %}"><input type="button" class="btn btn-primary" id="Add" value="Add Food" ></a>
<a href="{% url 'Manager:remove_food' %}"><input type="button" class="btn btn-primary" id="remove" value="Remove Food" ></a>
<a href="{% url 'Manager:update_food' f_id=0 %}"><input type="button" class="btn btn-primary" id="update" value="Update Food" ></a>
        {% if item %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Categories</th>
            <th>Image</th>
        </tr>
        {% for items in item %}
        <tr>
            <td>{{ items.Food_id }}</td>
            <td>{{ items.Food_Name }}</td>
            <td>{{ items.Food_Price }}</td>
            <td>{{ items.quantity }}</td>
            <td>{{ items.Category }}</td>
            {% if items.image %}
            <td><img class="tableimg" src="{% static items.image.path %}" alt="None"></td>
            {% else %}
            <td><img class="tableimg" src="#" alt="None"></td>
            {% endif %}
        </tr>
        {% endfor %}
        </table>
{% endif %}
    </div>
{% endblock %}