{% extends "Manager/base.html" %}
{% block body_block %}
<form  method="post" action="{% url 'remove_tables' %}">
    {% if item %}
        <table>
        <tr>
            <th>ID</th>
            <th>Availability</th>
            <th>Size</th>
        </tr>
        {% for items in item %}
        <tr>
            <td>{{ items.Table_id }}</td>
            <td>{{ items.availability }}</td>
            <td>{{ items.size }}</td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
    {{ form.as_p }}
    {% csrf_token %}
    {{ form.errors }}
    <input type="submit" value="Remove">
</form>
<a href="{% url 'index' %}"><input type="button" id="index" value="Go to index" ></a>
{% endblock %}