{% extends "Manager/base.html" %}
{% block body_block %}
<form  method="post" action="{% url 'remove_towns' %}">
    {% if item %}
        <table>
            <tr>
                <th>Name of town</th>
                <th>Pin code</th>
            </tr>
            {% for items in item %}
                <tr>
                    <td>{{ items.Towns }}</td>
                    <td>{{ items.pincode }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {{ form.as_p }}
    {% csrf_token %}
    {{ form.errors }}
    <input type="submit" value="Remove">
</form>
<a href="{% url 'index' %}"><input type="button" id="index" value="Go to index" ></a>
{% endblock %}