{% extends "Manager/base.html" %}
{% block body_block %}
    {% load bootstrap %}
    <div class="container">
<form  method="post" action="{% url 'remove_food' %}">
    {% if item %}
        <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Categories</th>
        </tr>
        {% for items in item %}
        <tr>
            <td>{{ items.Food_id }}</td>
            <td>{{ items.Food_Name }}</td>
            <td>{{ items.Food_Price }}</td>
            <td>{{ items.quantity }}</td>
            <td>{{ items.Category }}</td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
    {{ form|bootstrap }}
    {% csrf_token %}
    {{ form.errors }}
    <input type="submit" class="btn btn-primary" value="Remove">
</form>
    </div>
{% endblock %}