{% extends "Manager/base.html" %}
{% block body_block %}
    {% load bootstrap %}
    <div class="container">
<form  method="post" action="{% url 'remove_tables' %}">
    {% if item %}
    {{ form|bootstrap }}
    {% csrf_token %}
    {{ form.errors }}
    <input type="submit" class="btn btn-primary" value="Remove">
    <table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>Availability</th>
        <th>Size</th>
        <th>Zone</th>
    </tr>
    {% for items in item %}
    <tr>
        <td>{{ items.Table_id }}</td>
        <td>{{ items.availability }}</td>
        <td>{{ items.size }}</td>
        <td>{{ items.zone }}</td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
        <h4>No Tables to remove</h4>
    {% endif %}
</form>
    </div>
{% endblock %}