{% extends 'Manager/base.html' %}
{% block body_block %}
{% if items %}
    <p>Token Id : {{ items.first.TokenId }}</p>
    <table class="table table-bordered table-striped">
    <tr>
        <th>Food ID</th>
        <th>Quantity</th>
        <th>Table Id</th>
        <th>Price</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    {% for items in items %}
        <tr>
        <td>{{ items.FoodId }}</td>
        <td>{{ items.quantity }}</td>
        <td>{{ items.TableId }}</td>
        <td>{{ items.price }}</td>
        <td>{{ items.date }}</td>
        <td>{{ items.time }}</td>
        </tr>
    {% endfor %}
    </table>
    {% elif add %}
    <table class="table table-bordered table-striped">
    <tr>
        <th>Town</th>
        <th>Street</th>
        <th>Phone Number</th>
    </tr>
    <tr>
        <td>{{ add.town }}</td>
        <td>{{ add.street }}</td>
        <td>{{ add.phone_number }}</td>
    </tr>
    </table>
{% endif %}

{% endblock %}