{% extends "Manager/base.html" %}
{% block body_block %}
    {% if error %}
    <p class="errormsg">{{ error }}</p>
    {% endif %}
<a href="{% url 'add_tables' %}"><input type="button" class="btn btn-primary" id="Add" value="Add Table" ></a>
<a href="{% url 'remove_tables' %}"><input type="button" class="btn btn-primary" id="Remove" value="Remove Table" ></a>
<a href="{% url 'update_table' %}"><input type="button" class="btn btn-primary" id="update" value="Update" ></a><br>
    {% if item %}
        <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Availability</th>
            <th>Size</th>
            <th>Zone</th>
        </tr>
        {% for items in item %}
        <tr>
            <td>{{ items.Table_id }}</td>
            <td>{{ items.availability }}</td>
            <td>{{ items.size }}</td>
            <td>{{ items.zone }}</td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}