{% extends "Manager/base.html" %}
{% block body_block %}
    <div class="container">
<a href="{% url 'add_towns' %}"><input type="button" class="btn btn-primary" id="Add" value="Add Towns" ></a>
<a href="{% url 'remove_towns' %}"><input type="button" class="btn btn-primary" id="Remove" value="Remove Town" ></a>
    {% if item %}
        <table>
            <tr>
                <th>Name of town</th>
                <th>Pin code</th>
            </tr>
            {% for items in item %}
                <tr>
                    <td>{{ items.Towns }}</td>
                    <td>{{ items.pincode }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    </div>
{% endblock %}