{% extends "Manager/base.html" %}
{% block body_block %}
    {% load bootstrap %}
    {% load static %}
    <div class="container">
    {% if error %}
    <p class="errormsg">{{ error }}</p>
    {% endif %}
{% if item %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Categories</th>
            <th>Image</th>
        </tr>
        {% for items in item %}
        <tr>
            <td><a href="{% url 'update_food' f_id=items.Food_id %}">{{ items.Food_id }}</a></td>
            <td>{{ items.Food_Name }}</td>
            <td>{{ items.Food_Price }}</td>
            <td>{{ items.quantity }}</td>
            <td>{{ items.Category }}</td>
            {% if items.image %}
            <td><img class="tableimg" src="{% static items.image.path %}" alt="None"></td>
            {% else %}
            <td><img class="tableimg" src="#" alt="None"></td>
            {% endif %}
        </tr>
        {% endfor %}
        </table>
 {% else %}
    {% if not update %}
    <h4>NO Food Items to Update</h4>
    {% endif %}
{% endif %}

{% if update %}
    <form method="post" action="{% url 'check_update_food' %}" enctype="multipart/form-data">
    Update Values:<br>
    {% csrf_token %}
    <table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Categories</th>
        <th>Image</th>
    </tr>
    <tr>
        <td><input type="number" value="{{ update.Food_id }}" name="Id"  id="Id" readonly="readonly" /></td>
        <td><input type="text" value="{{ update.Food_Name }}" name="Name" id="Name" /></td>
        <td><input type="number" value="{{ update.Food_Price }}" name="Price" id="Price" /></td>
        <td><input type="number" value="{{ update.quantity }}" name="Quantity" id="Quantity" /></td>
        <td><input type="text" value="{{ update.Category }}" name="Category" id="Category" /></td>
        {% if items.image %}
        <td><input type="file" value="{{ update.image.path }}" name="image"></td>
        {% else %}
        <td><input type="file" value="" name="image"></td>
        {% endif %}
    </tr>
    </table>
    <input type="submit" class="btn btn-primary" value="Update"><br>
    </form>
{% endif %}
    </div>
{% endblock %}