<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel = "stylesheet" type="text/css" href="{% static 'Homepage/main.css' %}"/>
</head>
    {% comment %}<!--p>
        {% extends 'Homepage/Homepage.html' %}
        {% block category %}
        {% endblock %}
    </p-->{% endcomment %}
    <div class = "Food">
        <h1>Things that are worth waiting!!</h1>
        <form action="{% url 'Homepage:home' %}" method="get" id="category_form">
            <input type="submit" value="All" name="all">
            <input type="submit" value="Breakfast" name="breakfast">
            <input type="submit" value="Snack" name="snack">
            <input type="submit" value="Starters" name="starter">
        </form>
        {% if food %}
            {% for food in food %}
                <div class="card">
                    <img class="CardImage" src="{% static food.image.path %}" alt="Avatar">
                    <div class="container">

                        <form method="post" action="{% url 'eat_at_canteen:order' %}">
                            {% csrf_token %}
                            <label>
                                Name:
                                <input type="text" value="{{ food.Food_Name }}" name="food" style="border: 0" readonly>
                            </label>
                            <br>
                            <label>
                                Price :
                                <input type="text" value="{{ food.Food_Price }}" name="price" style="border: 0"
                                       readonly>
                            </label><br>

                            <input type="submit"  class="cart" value = "add to cart">

                        </form>

                    </div>
                </div>
            {% endfor %}
            {% else %}
                <p style="color: white">There is nothing</p>

        {% endif %}
    </div>
</html>