{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Cafeteria</title>
    <link rel = "stylesheet" type="text/css" href="{% static 'User/main.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <p class="navbar-brand" style="color:white">Cafeteria</p>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">AboutUs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ContactUs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">SignIn</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">SignUp</a>
                            </li>
                        </ul>

                    </div>
            </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
            <div class="Contact">
                <h4 style="text-align: left;font-size: 30px">Contact US</h4>
                <p>
                    Bh-2,IIIT Sricty,sricity,
                    Chittoor,Andhra Pradesh
                </p>
            </div>

            <div class="Footer">
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Contact Us</li>
                    <li>SignIn</li>
                    <li>SignUp</li>
                </ul>
            </div>
    </footer>

</html>
