<!DOCTYPE html>
<html lang="en">
{% extends 'Homepage/Header_Footer.html' %}
{% load static %}
{% block content %}
<body>
    <div class = "SlideShow">
        <img class = "SlideImage" src = "{%static "Homepage/cafeteria_01.jpg" %}" >
    </div>
    <div class = "SlideShow">
        <img class = "SlideImage" src = "{%static "Homepage/cafeteria_02.jpg" %}" >
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <div style="margin-left : 49%;margin-top : -3%">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
    </div>

        <div class="About">
            <h1>About</h1>
            Our Service is Wonderful to experience....
        </div>
        <div class = "Food">
            <h1>Things that are worth waiting!!</h1>
            {% if food %}
                {% for food in food %}
                    <div class="card">
                        <img class="CardImage" src="{% static food.image.path %}" alt="Avatar">
                        <div class="container">
                            <h4><b>{{ food.Food_Name }}</b></h4>
                            <p>Price : {{ food.Food_Price }}</p>
                            <form>
                                <input class="cart" type="submit" value = "add to cart">
                            </form>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <p>There is nothing</p>

            {% endif %}
        </div>
</body>

<script type = "text/javascript">
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("SlideShow");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }
</script>
{% endblock %}
</html>
