<!DOCTYPE html>
<html lang="en">
{% extends 'Homepage/Header_Footer.html' %}
{% load static %}
{% block content %}
<body>
   {% if canteen_pics %}
        {% for pics in canteen_pics %}
            <div class = "SlideShow">
                <img class = "SlideImage" src = "{%static pics.image.path %}"  >
            </div>
        {% endfor %}
            <a href="#" class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a href="#" class="next" onclick="plusSlides(1)">&#10095;</a>
   {% endif %}
    <div id ="about" class="About">
        <h1>About</h1>
        Our Service is Wonderful to experience....
    </div>
    <div class = "Food">
        <h1>Things that are worth waiting!!</h1>
        <div class="category">
            <button class="categorybtn">Category</button>
             <div class="category-content">
                <a href="{% url 'Homepage:home' %}">All</a>
                <a href="{% url 'Homepage:home1' %}">Breakfast</a>
                <a href="{% url 'Homepage:home2' %}">Snack</a>
                <a href="{% url 'Homepage:home3' %}">Starters</a>
             </div>
        </div>
        {% if food %}
            {% for food in food %}
                <div class="card">
                    <a href="{% url 'Homepage:specificitem' food.Food_id %}"><img class="CardImage" src="{% static food.image.path %}" alt="Avatar"></a>
                    <div class="container">
                        <form method="post" action="{% url 'eat_at_canteen:order' %}">
                            {% csrf_token %}
                            Name :<input type="text" value="{{ food.Food_Name }}" name="food" style="border: 0" readonly><br>
                                Price : <input type="text" value="{{ food.Food_Price }}" name="price" style="border: 0" readonly><br>

                                {% if  food.quantity  == 0 %}
                                    <input type="text" style="border: 0" value="Not Available" readonly>
                                {% else %}
                                    {% if food.Food_Name in user_items %}
                                        <a href="{% url 'eat_at_canteen:cart' %}"><input type="button" class="cart" value="Go to Cart" ></a>
                                    {% else %}
                                        <input type="submit"  class="cart" value = "add to cart">
                                    {% endif %}
                                {% endif %}
                        </form>

                    </div>
                </div>
            {% endfor %}
            {% else %}
                <p style="color: white">There is nothing</p>
        {% endif %}
    </div>
</body>
</html>

<script type = "text/javascript">
    $(document).ready(function () {
        $('.categorybtn').click(function () {
            $('.category-content').slideToggle("slow");
        });

    });
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("SlideShow");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
    }

</script>

{% endblock %}
