<!DOCTYPE html>
<html lang="en">
{% extends 'Homepage/Header_Footer.html' %}
{% load static %}
{% block content %}

                    <div class="card">
                            <img class="CardImage" src="{% static prod.image.path %}" alt="Avatar">
                            <div class="container">
                                Name : <input type="text" value="{{ prod.Food_Name }}" name="food" style="border: 0"><br>
                                Price : <input type="text" value="{{ prod.Food_Price }}" name="price" style="border: 0"><br>

                                {% if  prod.quantity  == 0 %}
                                    <input type="text" style="border: 0" value="Not Available" >
                                {% else %}
                                    {% if prod.Food_Name in user_items %}
                                        <a href="{% url 'eat_at_canteen:cart' %}"><input type="button" class="cart" value="Go to Cart"></a>
                                    {% else %}
                                        <a href="{% url 'eat_at_canteen:orderagain' prod.Food_id %}"><input type="button" class="cart" value="Add to Cart"></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                    </div>
            <br>
    {% if list %}
            <div class="adjuster">
                Reviews:
                {% if s %}
                Rated {{ s }} by our customers
                {% endif %}
                <a name="review">
                  {% for review in list %}

                    <p>{{ review.content }}</p>
                <div class="star-rating">
                    <input id="star-5_{{ review.pk }}" type="radio" name="ratingnew_{{ review.pk }}" value="5" checked>
                    <label for="star-5_{{ review.pk }}" title="5 stars">
  					    <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>

                    <input id="star-4_{{ review.pk }}" type="radio" name="ratingnew_{{ review.pk }}" value="5" checked>
                    <label for="star-4_{{ review.pk }}" title="5 stars">
  					    <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>
                    <input id="star-3_{{ review.pk }}" type="radio" name="ratingnew_{{ review.pk }}" value="5" checked>
                    <label for="star-3_{{ review.pk }}" title="5 stars">
  					    <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>
                    <input id="star-2_{{ review.pk }}" type="radio" name="ratingnew_{{ review.pk }}" value="5" checked>
                    <label for="star-2_{{ review.pk }}" title="5 stars">
  					    <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>
                    <input id="star-1_{{ review.pk }}" type="radio" name="ratingnew_{{ review.pk }}" value="5" checked>
                    <label for="star-1_{{ review.pk }}" title="5 stars">
  					    <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>
                    <script>
                        console.log($('input[name="ratingnew_{{ review.pk }}"]:radio'));
                        $($('input[name="ratingnew_{{ review.pk }}"]:radio')[5-{{ review.rating }}])
                            .prop("checked", true);
                    </script>
                </div>
                <div class = "blockquote-footer">by <cite>{{ review.customer }}</cite></div>
              {% endfor %}
              </a>
            {% endif %}
                <span ><a href="{% url 'Homepage:item_review'  prod.Food_id  %}" >Write a Review</a></span>
        </div>
    <div >
    </div>
{% endblock %}

</html>