<!DOCTYPE html>
{% extends 'eat_at_canteen/base.html' %}



{% block body_block %}
{% if user.is_authenticated %}
<h3>Add your review</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'eat_at_canteen:add_review' %}" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="" value="ADD">



    
</form>
{% endif %}
{% if latest_review_list %}
<h2>Latest Reviews by our users</h2>

<div class="row">
    {% for review in latest_review_list %}
    <div class="col-xs-6 col-lg-4">

        <h6>Rated {{ review.average_rating }} of 5 by {{ review.user_name }}</h6>
        <p>{{ review.latest_review }}</p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews are available.</p>
{% endif %}
{% endblock %}