<!DOCTYPE html>

<html lang="en">
{% extends 'Homepage/Header_Footer.html' %}
{% load static %}
{% block content %}
<div >
<h1> Your Order </h1>
    <h2>Order Details</h2>
    <h2>Username:{{ u }}</h2>
    <h2>Token_No:{{ token }}</h2>



    <form  method="POST">
        {% csrf_token %}
        <table>
            <thead>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            </thead>
           {% for acc in customer_food %}

            <tr>
                <td><input type="text" name="food" value="{{ acc.FoodId }}"></td>
                <td><input type="text" name="price" value="{{ acc.quantity }}"></td>
                <td><input type="text" id="see" name="Quantity" value="{{ acc.price }}"></td>
            </tr>

            {% endfor %}
        </table>

    </form>
    {% if table %}
    <h2>Table No</h2>
    <h2>{{ table }}</h2><br>
    {% endif %}
    <h2>Sub Total</h2>
    <h2>{{ l }}</h2>

    <a href="{% url 'eat_at_canteen:confirm' %}"><input type="button" name="" value="Confirm"></a>



</div>
{% endblock %}
</html>