
<!DOCTYPE html>
<html lang="en">
{% extends 'Manager/base.html' %}
{% load static %}
{% block body_block %}


<body style="background-color:#111">





              <div class="c2 animated lightSpeedIn">"You dont need silver fork to eat good food"</div>
                  <br><br>
              <div class="c3 animated lightSpeedIn">-PAUL PRUDHOMME</div>

         <div class="c1 ">
         <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    CHECK YOUR HISTORY
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'Manager:history:statistics' %}">statistics</a>
    <a class="dropdown-item" href= "{% url 'Manager:history:analysis' %}">Analysis</a>
  </div>
</div>
</div>


 </body>
 {% endblock %}
  </html>
