
<!DOCTYPE html>
<html lang="en">
{% extends 'Manager/base.html' %}
{% load static %}
{% block body_block %}


<body>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart1);

            function drawChart1() {
              var data = google.visualization.arrayToDataTable([
              ['Task', 'Hours per Day'],
              {% for key,value in d1.items%}
              ['{{key}}',{{value}}],
              {%endfor%}
            ]);
            var options = {'title':'analysis of food items', 'width':300, 'height':200};


            var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
            chart.draw(data, options);

         }
          </script>



          <div class="jumbotron big-banner image-fluid">



              <div class="box2">
                <h3 class="text2"> ANALYSIS OF BUSINESS</h3>
                <br><br>

                  <form method="POST" autocomplete="off">
                    <div class="date2">
                    {% csrf_token %}
                    <table>
                      <tr>
                        <td>
                    FROMDATE:<input type="date" name="fromdate" required id="fromdate">
                       </td>
                       <td>
                    TODATE:<input type="date" name="todate" required id="todate">
                       </td>
                    </tr>
                  </table>

               </div>
               <br><br><br>
               <div id="piechart1"></div>
               <div id="chartContainer" style="height: 370px; width: 10%;"></div>
               <script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>

               <div class="button2">
              <input type="submit" class="btn btn-primary " value="SUBMIT">
             </div>
           </form>
            </div>
            </div>

 </body>
 {% endblock %}
  </html>
