<!--<!DOCTYPE html >
{% load static %}
<html >
    <head >
        <title > Order Details </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'homedelivery/css/style.css' %}">
    </head >
    {% block body_block %}
    <div class="jumbotron">
    <table class = "table" >
      <thead class = "thead-dark" >
    <tr >
      <th scope = "col" >  # </th>
      <th scope = "col" > First </th>
      <th scope = "col" > Last </th>
      <th scope = "col" > Handle </th>
    </tr >
      </thead >
      <tbody >
    <tr >
      <th scope = "row" > 1 </th>
      <td > Mark </td>
      <td > Otto </td>
      <td > @mdo </td>
    </tr >
    <tr >
      <th scope = "row" > 2 </th>
      <td > Jacob </td>
      <td > Thornton </td>
      <td > @fat </td>
    </tr >
    <tr >
      <th scope = "row" > 3 </th>
      <td > Larry </td>
      <td > the Bird </td>
      <td > @twitter </td>
    </tr >
      </tbody >
    </table >

    {% endblock body_block %}
    </div>  
</html>
-->
<p>
    random things
</p>
{{ HD_FoodOrder.items }}