{% extends "eat_at_canteen/base.html" %}
    {% block body_block %}
<div class="jumbotron">
<h1> Your Order </h1>
    <h2>Order Details</h2>
    <h2>Username:{{ username }}</h2>
    <h2>Token_No:{{ token.TokenId }}</h2>



    <form  method="POST">
        {% csrf_token %}
        <table>
            <thead>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            </thead>
           {% for food_items in customer_food %}

            <tr>
                <td><input type="text" name="food" value="{{ food_items.FoodId }}"></td>
                <td><input type="text" name="price" value="{{ food_items.quantity }}"></td>
                <td><input type="text" id="see" name="Quantity" value="{{ food_items.price }}"></td>
            </tr>

            {% endfor %}
        </table>

    </form>
    <h2>Table No</h2>
    <h2>{{ table }}</h2><br>
    <h2>Sub Total</h2>
    <h2>{{ amount }}</h2>
    <h1>Shipping Address</h1>
    Door_No:{{ address.dNo }}
    Street:{{ address.street }}
    Town:{{ address.town }}
    Phone_No:{{ address.phone_number }}
    <a href="{% url 'homedelivery:confirm' username=username %}"><input type="button" name="" value="Confirm"></a>


    {% endblock %}
</div>