<!DOCTYPE html>
<html lang="en">
{% extends 'Homepage/Header_Footer.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
{% block content %}
    <div class="History">
        <table>
            <th class="Heading"><u>
                Orders in delivery
                </u>
            </th>
            {% if historyDelivery %}
                <tr class="orders">
                    <th>Food Name</th>
                    <th>quantity</th>
                    <th>time</th>
                    <th>date</th>
                    <th>status</th>
                    <th>price</th>
                </tr>
                {% for key,value in historyDelivery.items %}
                    <tr class="divider"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    {% for food in value %}
                        <tr class="orders">
                            <td>{{food.FoodId }}</td>
                            <td>{{ food.quantity }}</td>
                            <td>{{ food.time }}</td>
                            <td>{{ food.date }}</td>
                            {% if food.Status == 'conf' %}
                                <td>confirmed</td>
                            {% endif %}
                            <td>{{ food.price }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><a href="{% url 'UserProfile:ConfirmOrder' token_id=key %}">Confirm Delivery</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="NoHistory"><td>Haven't tried anything?</td></tr>
                <tr class="NoHistory"><td>Go order something...!!!</td></tr>
            {% endif %}

        </table>
        <table>
            <th class="Heading"><u>
                Orders in ordered
                </u>
            </th>

            {% if historyOrdered %}

                <tr class="orders">
                    <th>Food Name</th>
                    <th>quantity</th>
                    <th>time</th>
                    <th>date</th>
                    <th>status</th>
                    <th>price</th>
                </tr>
                {% for key,value in historyOrdered.items %}
                    <tr class="divider"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    {% for food in value %}
                        <tr class="orders">
                            <td>{{food.FoodId }}</td>
                            <td>{{ food.quantity }}</td>
                            <td>{{ food.time }}</td>
                            <td>{{ food.date }}</td>
                            <td>{{ food.Status }}</td>
                            <td>{{ food.price }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><a href="{% url 'UserProfile:CancelOrder' token_id=key %}">Cancel order</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="NoHistory"><td>Haven't tried anything?</td></tr>
                <tr class="NoHistory"><td>Go order something...!!!</td></tr>
            {% endif %}

        </table>
        <table>
            <th class="Heading"><u>
                    Orders in preperation
                </u>
            </th>

            {% if historyPreparation %}

                <tr class="orders">
                    <th>Food Name</th>
                    <th>quantity</th>
                    <th>time</th>
                    <th>date</th>
                    <th>status</th>
                    <th>price</th>
                </tr>
                {% for key,value in historyPreparation.items %}
                    <tr class="divider"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    {% for food in value %}
                        <tr class="orders">
                            <td>{{food.FoodId }}</td>
                            <td>{{ food.quantity }}</td>
                            <td>{{ food.time }}</td>
                            <td>{{ food.date }}</td>
                            <td>{{ food.Status }}</td>
                            <td>{{ food.price }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <tr class="NoHistory"><td>Haven't tried anything?</td></tr>
                <tr class="NoHistory"><td>Go order something...!!!</td></tr>
            {% endif %}

        </table>
        <!--div class="profile_dropdwon">
        {% if details %}
                <p>
                    <a href="#">
                        {{ request.user.username }}
                    </a>
                    <a href="#">
                        {{ details.userprofileinfo.address }}
                    </a>
                    <a href="#">
                        {{ details.userprofileinfo.city }}
                    </a>
                    <img src="{%static details.userprofileinfo.profile_pic.path %}" alt="avatar">

                </p>
        {% endif %}
        </div-->

        <div class="ItemsInPreparation">
            {% if historyPreparation %}


            {% endif %}
        </div>
    </div>
    <div class="popular">
        <h2>
            popular items
        </h2>
        <form>
        </form>
        <p>

        </p>
    </div>
    {% endblock %}
</body>
</html>>