<!DOCTYPE html>
<html lang="en">
{% extends 'Homepage/Header_Footer.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
{% block content %}
    <div class="profile_dropdown">
        {% if details %}
        <button class="dropbtn">UserProfile</button>
        <div class="profile_dropdown-content">
            {% if details.userprofileinfo.profile_pic %}
                <a href="#"><img src="{%static details.userprofileinfo.profile_pic.path %}" alt="avatar"> {{ request.session.username }}</a>
            {% else %}
                <a href="#"><img src="{%static 'Homepage/Homepage/github-logo.png' %}">{{ request.session.username }}</a>
            {% endif %}
            <a href="#">add : {{ details.userprofileinfo.address }}</a>
            <a href="#">city : {{ details.userprofileinfo.city }}</a>
            <a href="#">Edit Profile</a>
        </div>
        {% endif %}
    </div>

    <div class="History">
        <table>
            <th class="Heading"><u>
                Orders in delivery
                </u>
            </th>
            {% if historyDelivery %}
                <tr class="orders">
                    <th>Food Name</th>
                    <th>quantity</th>
                    <th>time</th>
                    <th>date</th>
                    <th>status</th>
                    <th>price</th>
                </tr>
                {% for key,value in historyDelivery.items %}
                    <tr class="divider"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    {% for food in value %}
                        <tr class="orders">
                            <td>{{food.FoodId }}</td>
                            <td>{{ food.quantity }}</td>
                            <td>{{ food.time }}</td>
                            <td>{{ food.date }}</td>
                            {% if food.Status == 'conf' %}
                                <td>confirmed</td>
                            {% endif %}
                            <td>{{ food.price }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><a href="{% url 'UserProfile:ConfirmOrder' token_id=key %}">Confirm Delivery</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="NoHistory"><td>Nothing to Show here !!!</td></tr>
            {% endif %}

        </table>
        <table>
            <th class="Heading"><u>
                Orders in ordered
                </u>
            </th>

            {% if historyOrdered %}
                <tr class="orders">
                    <th>Food Name</th>
                    <th>quantity</th>
                    <th>time</th>
                    <th>date</th>
                    <th>status</th>
                    <th>price</th>
                </tr>
                {% for key,value in historyOrdered.items %}
                    <tr class="divider"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td>{{ food.TokenId }}</td></tr>
                    {% for food in value %}
                        <tr class="orders">
                            <td>{{food.FoodId }}</td>
                            <td>{{ food.quantity }}</td>
                            <td>{{ food.time }}</td>
                            <td>{{ food.date }}</td>
                            <td>Delivered</td>
                            <td>{{ food.price }}</td>
                        </tr>
                    {% endfor %}
                        {% if cancel%}
                            <tr>
                                <td><a href="{% url 'UserProfile:CancelOrder' token_id=key %}">Cancel order</a></td>
                            </tr>
                        {% else %}
                            <tr><td>Cannot be cancelled</td></tr>
                        {% endif %}
                {% endfor %}
            {% else %}
                <tr class="NoHistory"><td>Nothing to Show here !!!</td></tr>
            {% endif %}
            <table>
            <th class="Heading"><u>
                Orders delivered
                </u>
            </th>

            {% if orders_delivered %}

                <tr class="orders">
                    <th>Food Name</th>
                    <th>quantity</th>
                    <th>time</th>
                    <th>date</th>
                    <th>status</th>
                    <th>price</th>
                </tr>
                {% for key,value in orders_delivered.items %}
                    <tr class="divider"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td>{{ food.TokenId }}</td></tr>
                    {% for food in value %}
                        <tr class="orders">
                            <td>{{food.FoodId }}</td>
                            <td>{{ food.quantity }}</td>
                            <td>{{ food.time }}</td>
                            <td>{{ food.date }}</td>
                            <td>In prep.</td>
                            <td>{{ food.price }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <tr class="NoHistory"><td>Nothing to Show here !!!</td></tr>
            {% endif %}

        </table>
        <table>
            <th class="Heading"><u>
                    Orders in preperation
                </u>
            </th>

            {% if historyPreparation %}

                <tr class="orders">
                    <th>Food Name</th>
                    <th>quantity</th>
                    <th>time</th>
                    <th>date</th>
                    <th>status</th>
                    <th>price</th>
                </tr>
                {% for key,value in historyPreparation.items %}
                    <tr class="divider"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    {% for food in value %}
                        <tr class="orders">
                            <td>{{food.FoodId }}</td>
                            <td>{{ food.quantity }}</td>
                            <td>{{ food.time }}</td>
                            <td>{{ food.date }}</td>
                            <td>In ordered</td>
                            <td>{{ food.price }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <tr class="NoHistory"><td>Nothing to Show here !!!</td></tr>
            {% endif %}

        </table>
    </div>
    <div class="popular">
        <h2>Food in increasing order of rating</h2>
        {% if popular %}
            {% for key,value in popular.items %}
                {% for food in value %}
                <div class="card">
                    <a href="{% url 'Homepage:specificitem' food.Food_id %}"><img class="CardImage" src="{% static food.image.path %}" alt="Avatar"></a>
                    <div class="container">

                        <form method="post" action="{% url 'eat_at_canteen:order' pk=food.Food_id page='user'%}">
                            {% csrf_token %}
                            Name :<label>
                            <input type="text" value="{{ food.Food_Name }}" name="food" style="border: 0" readonly>
                            </label><br>
                            Price : <label>
                            <input type="text" value="{{ food.Food_Price }}" name="price" style="border: 0" readonly>
                             </label><br>

                            {% if  food.quantity  == 0 %}
                                <label>
                                    <input type="text" style="border: 0" value="Not Available" readonly>
                                </label>
                            {% else %}
                                {% if food.Food_Name in user_items %}
                                    <a href="{% url 'eat_at_canteen:cart' %}"><input type="button" class="cart" value="Go to Cart" ></a>
                                {% else %}
                                    <input type="submit"  class="cart" value = "add to cart">
                                {% endif %}
                            {% endif %}
                        </form>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>

</body>
</html>
<script>
    $(document).ready(function(){
      $(".dropbtn").click(function(){
           $(".profile_dropdown-content").slideToggle("slow");
      });
      $(".Review a").click(function(){
            $(".Reviewdata").slideToggle("slow");
      });
    });
</script>
{% endblock %}